.title {
    font-size: 48px;
    font-family: 'Playwrite AU SA' !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-shadow: 
        0 0 5px #231942,
        0 0 10px #5e548e,
        0 0 20px #9f86c0;
}
