.container {
    border: black 1px solid;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}

.grid-row {
    display: grid;
    grid-template-columns: 1fr repeat(16, 1fr);
    gap: 10px;
}

.row-label {
    display: flex;
    grid-column: 1;
    text-align: center;
    font-weight: bold;
    padding: 1px;
    border-radius: 4px;
    border: none;
}

.grid-button {
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #ccc; 
    cursor: pointer;
    transition: .5s;
}

.grid-button.active {
    background-color: #4CAF50;
    /* Active button background */
    color: white;
}

.grid-button:focus {
    outline: none;
}
