.container {
    border: black 1px solid;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}

.grid-row {
    display: grid;
    grid-template-columns: 1fr repeat(16, 1fr);
    gap: 10px;
}

.row-label {
    display: flex;
    grid-column: 1;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.grid-button {
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #ccc; 
    cursor: pointer;
    transition: .5s;
}

.grid-button.active {
    background-color: #4CAF50;
    color: white;
}

.grid-button:focus {
    outline: none;
}

.mybutton {
    transition: all .5s;
    background-color: transparent;
    color: #c8b6ff;
    margin: 8px;
    height: 38px;
    width: 56px;
    border: #111111 2px solid;
    border-radius: 24px;
}

.mybutton:hover {
    background-color: rgba(55, 55, 55, .6);
    border: #7a7a7a 2px solid;
    color: #9d4edd;
    cursor: pointer;
}

.title {
    text-align: center;
    font-family: 'Playwrite AU SA' !important;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    margin-bottom: 64px;
}

.mobile_name {
    font-size: 42px;
    font-weight: 12px;
}

.name {
    margin-top: 64px;
    margin-bottom: 0;
    font-weight: 20px;
    font-size: 56px;
}

.uploader {
    text-shadow: none;
    margin-top: 12px;
    font-size: large;
    color: white;
}

.createdat {
    color: rgba(255, 255, 255, .7);
    text-shadow: none;
    font-family: 'Inconsolata' !important;
    font-size: large;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 90vh;
}

.desc-container {
    margin: 12px;
    margin-top: 48px;
}

.desc-container.mobile {
    margin-top: 0;
}