.collab-input-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 46px 0;
    margin: 86px 64px;
    border-radius: 24px;
}

.create-room-button {
    padding: 1em 2em;
    border: none;
    border-radius: 24px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: #8b2de2d7;
    background-color: white;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #8b2de2d7;
}

.create-room-button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #8b2de2d7;
    box-shadow: 4px 5px 17px -4px #8b2de2d7;
}

.create-room-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #8b2de2d7;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.create-room-button:hover::before {
    width: 250%;
}

.join-room-button {
    padding: 1em 2em;
    border: none;
    border-radius: 24px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #8b2de2d7;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #8b2de2d7;
}

.join-room-button:hover {
    color: #8b2de2d7;
    transform: scale(1.1);
    outline: 2px solid #8b2de2d7;
    box-shadow: 4px 5px 17px -4px #8b2de2d7;
}

.join-room-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.join-room-button:hover::before {
    width: 250%;
}

.collab-input-group {
    position: relative;
    padding: 20px 20px 0 20px;
    width: 100%;
    max-width: 180px;
}

.collab-input {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #8b2de2d7;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.collab-input::placeholder {
    color: transparent;
}

.collab-input:placeholder-shown~.collab-label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.collab-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.collab-input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #8b2de2d7, #38caef);
    border-image-slice: 1;
}

.collab-input:focus~.collab-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #8b2de2d7;
    font-weight: 700;
}

/* reset input */
.collab-input:required,
.collab-input:invalid {
    box-shadow: none;
}

.collab-top-bar-contianer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 86px;
}

.color-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
}

.collab-colors {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.collab-info-container {
    margin-top: 124px;
}

.collab-info-box {
    display: flex;
    justify-content: space-around;
}

.collab-info-label {
    text-align: center;
}

.collab-info-input {
    padding: 4px;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: white 2px solid;
}

.collab-add-desc-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 42px 68px 0 68px;
    text-align: start;
}