.collab-add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    overflow-x: scroll;
}

.collab-add-grid-row {
    display: grid;
    grid-template-columns: repeat(22, auto);
    gap: 10px;
    justify-content: center;
}

.collab-add-row-label {
    background-color: transparent;
    color: white;
    height: 34px;
    font-size: medium;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
    border-bottom: white 1px solid;
    border-radius: 0;
    display: flex;
    text-align: center;
    font-weight: bold;
    margin-right: 8px;
    outline: none;
}

.collab-add-grid-button {
    padding: 24px;
    background-color: rgba(255, 255, 255, .4);
    border: 1px solid #ccc; 
    cursor: pointer;
    transition: .5s;
    border-radius: 4px;
}

.collab-add-grid-button.dark {
    background-color: rgba(255, 255, 255, .2);
}

.collab-add-grid-button.active {
    background-color: #ff00c1;
}

.collab-add-grid-button:focus {
    outline: none;
}

.collab-add-delete-button {
    transition: all .2s;
    background-color: transparent;
    color: rgba(255, 255, 255, .4);
    border: none;
    margin-left: 8px;
}

.collab-add-delete-button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.699);
    color: white;
}

.add-drumrow-button {
    transition: all .5s;
    cursor: pointer;
    margin: 28px 16px 0 16px;
    background-color: rgba(42, 124, 42, 0.603);
    border: none;
    border-radius: 4px;
    color: white;
    opacity: .4;
    height: 20px;
}

.add-drumrow-button:hover {
    scale: 1.01;
    opacity: 1;
}

.add-button-container {
    display: flex;
    justify-content: center;
}

.collab-add-title {
    text-align: center;
    margin-left: 24px;
    width: 86px;
    border-bottom: white 1px solid;
}

.collab-trash {
    border-radius: 4px;
    transition: all .5s;
    padding: 0 16px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

.collab-trash:hover{
    background-color: rgba(255, 255, 255, 0.291);
    color: red;
}

.collab-add-row {
    font-size: larger;
    cursor: pointer;
    transition: all .5s;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.138);
    border: none;
    color: rgb(36, 185, 36);
    opacity: .8;
    border-radius: 8px;
    padding: 8px 0;
}

.collab-add-row:hover{
    background-color: rgba(255, 255, 255, 0.424);
    opacity: 1;
}